body {
  background-color: white;
}

h2 {
  color: red;
  text-align: center;
  font-family: Arial;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}